.enjoy-css {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 50px;
  cursor: pointer;
  padding: 5px 18px;
  border: none;
  /*-webkit-border-radius: 30px;
  border-radius: 30px;*/
  font: normal normal bold 50px/normal "Battambang", Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  text-transform: uppercase;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgb(153, 255, 102);
  -webkit-transition: background 0.2s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -moz-transition: background 0.2s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -o-transition: background 0.2s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: background 0.2s cubic-bezier(0.25, 0.25, 0.75, 0.75);
}

.enjoy-css:hover {
  background: rgb(51, 255, 153);
}

.titlebar{
  /*background: rgb(0, 204, 102);*/
  background: indianred;
}

.active{
  background: rgb(153, 255, 102);
}

.error{
  border: 1px solid red;
}

#formbtn{
  margin-right: 35%;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}
