.titlebar {
	background-color: indianred;
	color: #ffF;
}

.titlebar a{
	background-color: #6ef76e;
	height: 50px;
	text-decoration:none;
	color: #fff;
	font-size: 20pt;
	padding-top: 12px;
}

a{
	text-decoration:none;
}

@media screen and (max-width: 764px) {
  .row{
    margin-right:0px;
  }
}


.container-full {
  margin: 0 auto;
  width: 100%;
}
