html,body {
    height: 100%;
}

body {
    background-color: #A9E3FF;
}

.container.main {
    height: 100%;    
    margin-left: 20%;
    margin-right: 20%;
    background: #FFFFFF;
    padding: 50px;

}
